<!doctype html>
<html>

<head>
	<title>CryptoCurrency mining analysis</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
</head>

<body>
	<div id="app" class="ui container">
		<div class="ui basic segment">
			<h1 class="ui header">
				CryptoCurrency mining analysis
			</h1>
		</div>
		<div class="ui basic segment">
			La rentabilité du minage de calcule à l'aide d'une formule mathématique, dont les paramètres sont : 
				- le prix du bitcoin
				- le Hashrate, ...
				- la difficulté, ...
				- la consommation électrique du processeur
				- le prix de l'électricité
				- le prix du processeur 
		</div>
		<div class="ui basic segment">
			<form class="ui form">
				<div class="fields">
					<div class="field">
						<label>Hashrate (GH/s)</label>
						<input type=number v-model="hashRate" v-on:input='drawProfitGraphs'>
					</div>
					<div class="field">
						<label>Difficulty</label>
						<input type=number v-model="difficulty" v-on:input='drawProfitGraphs'>
					</div>
					<div class="field">
						<label>Bitcoin price (CHF)</label>
						<input type=number v-model="bitcoinCHFPrice" v-on:input='drawProfitGraphs'>
					</div>
					<div class="field">
						<label>Power consumption (Watts)</label>
						<input type=number v-model="powerConsumption" v-on:input='drawProfitGraphs'>
					</div>
					<div class="field">
						<label>Cost per KW/h (CHF)</label>
						<input type=number v-model="electricityRate" v-on:input='drawProfitGraphs'>
					</div>
					<div class="field">
						<label>Hardware cost (CHF)</label>
						<input type=number v-model="hardwareCost" v-on:input='drawProfitGraphs'>
					</div>
				</div>
			</form>
		</div>
		<div class="ui basic segment">
			Avec les valeurs actuelles du marché, la rentabilité est de : 
		</div>
		<div class="ui basic center aligned segment">
			<div class="ui statistic">
				<div class="value">
					{{ dailyProfit.toFixed(2) }} CHF
				</div>
				<div class="label">
					Daily profit
				</div>
			</div>
		</div>
		<div class="ui basic segment">
			Les paramètres liées au bitcoin (hashrate, difficulté, valeur) sont en changement constant. Il est donc important pour calculer une rentabilité de prévoir les changements de ces valeurs. Pour ce faire, nous nous sommes basés sur les historiques pour calculer des courbes de tendances. Pour des raisons de temps, nous nous sommes concentrés sur deux paramètres, la valeur du bitcoin et la difficulté. 
		</div>
		<div class="ui basic segment">
			La difficulté d'écriture des transactions est un paramètre important pour calculer la rentabilité du minage. En effet, cette difficulté est en hausse depuis le lancement du Bitcoin. Pour notre travail, nous avons calculé deux courbes de tendance, exponentielle et polynomiale, sur l'historique de la difficulté et nous l'avons utilisée pour estimer l'évolution future de la difficulté
		</div>
		<div class="ui basic segment">
			<canvas id="difficultyGraph"></canvas>
		</div>
		<div class="ui basic segment">
			Un autre paramètre important est la valeur du Bitcoin sur le marché. Celle-ci connaît une hausse importante depuis 2017, mais il paraît peu probable que la valeur continue d'augmenter aussi sèchement. Pour notre travail, nous avons calculé trois courbes de tendances, linéaire, polynomiale et exponentielle. 
		</div>
		<div class="ui basic segment">
			<canvas id="bitcoinValueGraph"></canvas>
		</div>
		<div class="ui basic segment">
			Les deux graphiques suivant montrent la rentabilité en Bitcoin et en francs suisse sur un an, en prenant en compte les courbes de tendances calculées précedemment.
		</div>
		<div class="ui basic segment">
			<form class="ui form">
				<div class="inline fields">
					<label>Chart currency: </label>
					<div class="field">
						<div class="ui radio checkbox">
					        <input type="radio" value="bitcoin" v-model="currency" v-on:change='drawProfitGraphs'>
					        <label>Bitcoin</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
					        <input type="radio" value="chf" v-model="currency" v-on:change='drawProfitGraphs'>
					        <label>Swiss francs</label>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="ui basic segment">
			<canvas id="profitGraph"></canvas>
		</div>
		<div class="ui basic segment">
			<canvas id="profitGraphPower"></canvas>
		</div>
		<div class="ui basic segment">
			Nos résultats sont peu encourageants. En effet, l'augmentation rapide de la difficulté fait qu'il est peu probable que le minage soit rentable. Notez cependant que ces graphiques reposent sur des estimations.
		</div>
		
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="data.js"></script>
	<script>
		$('document').ready(function()
		{
			var app = new Vue({
				el: '#app',

				data: {
					hashRate: 4730, // GH/s
					difficulty: 1590896927258,
					bitcoinCHFPrice: 0, // CHF
					powerConsumption: 1293, // Watts
					electricityRate: 0.12, // CHF
					currency: 'bitcoin', // 'bitcoin' of 'chf'
					hardwareCost: 500, // CHF
					dailyProfit: 0, //CHF,
					bitcoinValueChart: null,
					difficultyChart: null,
					profitChartPower: null,
					profitChart: null
				},

				methods: {

					/**
					 * Draw all the graphs
					 */
					drawProfitGraphs: function()
					{
						this.drawProfitGraphExp();
						this.drawProfitGraphPower();
					},

					/**
					 * Draw the profit graph with an exponencial factor
					 */
					drawProfitGraphExp: function ()
					{
						var reward = 12.5;
						var BTCPerDay = 24 / (this.difficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
						
						var electricityCHFCostPerDay = this.powerConsumption * this.electricityRate * 24 / 1000;
						this.dailyProfit = BTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
						var dailyBTCProfit = BTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice;
							
						var ctx = document.getElementById('profitGraph').getContext('2d');
						var dates = []
						var data = [];
						var dataLinear = [];
						var dataPoly = [];
						var dataExp = [];
						
						var yLabel = 'Net worth (Bitcoin)';
						var labelling = false;
						
						var daysSinceBeginning = moment().diff('2009-01-03', 'days')/2;
						var estimatedDifficulty;
						var estimatedBTCPerDay;
						var estimatedDailyProfit;
						var estimatedDailyBTCProfit;
						var estimatedDailyProfitExp;
						
						for ( var i = 0 ; i <= 365 ; i++)
						{
							dates.push(newDate(i));
							
							estimatedDifficulty = Math.pow(3.2622*Math.E,0.00789*(daysSinceBeginning+i/2));
							estimatedBTCPerDay  = 24 / (estimatedDifficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
							
							estimatedDailyProfit = estimatedBTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
							estimatedDailyProfitLinear = estimatedBTCPerDay * (13.3991 * (daysSinceBeginning+i/2) -2912.3) - electricityCHFCostPerDay;
							estimatedDailyProfitPoly = estimatedBTCPerDay * (4e-6*Math.pow(daysSinceBeginning+i/2,3) - 0.0027*Math.pow(daysSinceBeginning+i/2,2) + 
													5.646*daysSinceBeginning+i/2 - 1000) - electricityCHFCostPerDay;
							estimatedDailyProfitExp = estimatedBTCPerDay * (0.4061*Math.pow(Math.E,0.0066*(daysSinceBeginning+i/2))) - electricityCHFCostPerDay;
							
							estimatedDailyBTCProfit = estimatedBTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice
							
							switch (this.currency)
							{
								case 'bitcoin':
									data.push(i * estimatedDailyBTCProfit - this.hardwareCost / this.bitcoinCHFPrice);
									yLabel = 'Net worth (Bitcoin)';
									labelling = false;
								break;

								case 'chf':
									data.push(i * estimatedDailyProfit - this.hardwareCost);
									dataLinear.push(i * estimatedDailyProfitLinear - this.hardwareCost);
									dataPoly.push(i * estimatedDailyProfitPoly - this.hardwareCost);
									dataExp.push(i * estimatedDailyProfitExp - this.hardwareCost);
									yLabel = 'Net worth (CHF)';
									labelling = true;
								break;
							}
						}

						function newDate(days) {
							return moment().add(days, 'd').toDate();
						}

						function newDateString(days) {
							return moment().add(days, 'd').format('LL');
						}

						function newTimestamp(days) {
							return moment().add(days, 'd').unix();
						}

						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "constant bitcoin price",
									backgroundColor: '#f9dfa2',
									borderColor: '#FAB915',
									fill: false,
									data: data,
								},{
									label: "linear bitcoin price",
									backgroundColor: 'rgb(23, 156, 12)',
									borderColor: 'rgb(23, 156, 12)',
									fill: false,
									data: dataLinear,
								},{
									label: "polynomial bitcoin price",
									backgroundColor: 'rgb(10, 99, 255)',
									borderColor: 'rgb(10, 99, 255)',
									fill: false,
									data: dataPoly,
								},{
									label: "exponential bitcoin price",
									backgroundColor: 'rgb(232, 60, 60)',
									borderColor: 'rgb(232, 60, 60)',
									fill: false,
									data: dataExp,
								}]
							},
							options: {
				                title:{
				                    text: "Bitcoin mining analysis, using exponential prevision on difficulty",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit: 'month',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Date'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: yLabel
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1 
									} 
								},
								legend: {
									display: labelling
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						};

						if (this.profitChart)
						{
							this.profitChart.update(config);
						}
						else
						{
							this.profitChart = new Chart(ctx,config);
						}
					},

					/**
					 * Draw the profit graph with an power factor
					 */
					drawProfitGraphPower: function ()
					{
						var reward = 12.5;
						var BTCPerDay = 24 / (this.difficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
						
						var electricityCHFCostPerDay = this.powerConsumption * this.electricityRate * 24 / 1000;
						this.dailyProfit = BTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
						var dailyBTCProfit = BTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice;
							
						var ctx = document.getElementById('profitGraphPower').getContext('2d');
						var dates = []
						var data = [];
						var dataLinear = [];
						var dataPoly = [];
						var dataExp = [];
						
						var daysSinceBeginning = moment().diff('2009-01-03', 'days')/2;
						
						var yLabel = 'Net worth (Bitcoin)';
						var labelling = false;
						
						var estimatedDifficulty;
						var estimatedBTCPerDay;
						var estimatedDailyProfit;
						var estimatedDailyBTCProfit;
						
						for ( var i = 0 ; i <= 365 ; i++)
						{
							dates.push(newDate(i));
							
							
							estimatedDifficulty = 0.0032*Math.pow(daysSinceBeginning+i/2,5) - 10.947*Math.pow(daysSinceBeginning+i/2,4) +
													13661*Math.pow(daysSinceBeginning+i/2,3) - 7e+6*Math.pow(daysSinceBeginning+i/2,2) + 
													1e+9*(daysSinceBeginning+i/2) - 6e+10; 
							estimatedBTCPerDay  = 24 / (estimatedDifficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
							
							estimatedDailyProfit = estimatedBTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
							estimatedDailyProfitLinear = estimatedBTCPerDay * (13.3991 * (daysSinceBeginning+i/2) -2912.3) - electricityCHFCostPerDay;
							estimatedDailyProfitPoly = estimatedBTCPerDay * (4e-6*Math.pow(daysSinceBeginning+i/2,3) - 0.0027*Math.pow(daysSinceBeginning+i/2,2) + 
													5.646*daysSinceBeginning+i/2 - 1000) - electricityCHFCostPerDay;
							estimatedDailyProfitExp = estimatedBTCPerDay * (0.4061*Math.pow(Math.E,0.0066*(daysSinceBeginning+i/2))) - electricityCHFCostPerDay;
													
							estimatedDailyBTCProfit = estimatedBTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice
							
							switch (this.currency)
							{
								case 'bitcoin':
									data.push(i * estimatedDailyBTCProfit - this.hardwareCost / this.bitcoinCHFPrice);
									yLabel = 'Net worth (Bitcoin)';
									labelling = false;
								break;

								case 'chf':
									data.push(i * estimatedDailyProfit - this.hardwareCost);
									dataLinear.push(i * estimatedDailyProfitLinear - this.hardwareCost);
									dataPoly.push(i * estimatedDailyProfitPoly - this.hardwareCost);
									dataExp.push(i * estimatedDailyProfitExp - this.hardwareCost);
									yLabel = 'Net worth (CHF)';
									labelling = true;
								break;
							}
						}

						function newDate(days) {
							return moment().add(days, 'd').toDate();
						}

						function newDateString(days) {
							return moment().add(days, 'd').format('LL');
						}

						function newTimestamp(days) {
							return moment().add(days, 'd').unix();
						}

						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "constant bitcoin price",
									backgroundColor: '#f9dfa2',
									borderColor: '#FAB915',
									fill: false,
									data: data,
								},{
									label: "linear bitcoin price",
									backgroundColor: 'rgb(23, 156, 12)',
									borderColor: 'rgb(23, 156, 12)',
									fill: false,
									data: dataLinear,
								},{
									label: "polynomial bitcoin price",
									backgroundColor: 'rgb(10, 99, 255)',
									borderColor: 'rgb(10, 99, 255)',
									fill: false,
									data: dataPoly,
								},{
									label: "exponential bitcoin price",
									backgroundColor: 'rgb(232, 60, 60)',
									borderColor: 'rgb(232, 60, 60)',
									fill: false,
									data: dataExp,
								}]
							},
							options: {
				                title:{
				                    text: "Bitcoin mining analysis, using polynomial prevision on difficulty",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit: 'month',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Date'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: yLabel
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1 
									} 
								},
								legend: {
									display: labelling
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						};

						if (this.profitChartPower)
						{
							this.profitChartPower.update(config);
						}
						else
						{
							this.profitChartPower = new Chart(ctx,config);
						}
					},

					/**
					 * Draw the historical difficulty
					 */
					drawDifficultyGraph: function()
					{
						var ctx = document.getElementById('difficultyGraph').getContext('2d');
						var dates = [];
						var data = difficultyData;
						
						var trendLine = [];
						var trendLinePoly = [];
						
						for( var i = 0 ; i <= 1636 ; i++)
						{
							dates.push(newDate(i));
							trendLine.push(Math.pow(3.2622*Math.E,0.00789*i));
							trendLinePoly.push(0.0032*Math.pow(i,5) - 10.947*Math.pow(i,4) +
													13661*Math.pow(i,3) - 7e+6*Math.pow(i,2) + 
													1e+9*i - 6e+10)
						}
						function newDate(days) {
							return moment("20090103", "YYYYMMDD").add(2 * days, 'd').toDate();
						}
						
						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "data",
									backgroundColor: '#f9dfa2',
									borderColor: '#FAB915',
									fill: false,
									data: data,
								},{
									label: "trendline (exponential)",
									backgroundColor: 'rgb(23, 156, 12)',
									borderColor: 'rgb(23, 156, 12)',
									fill: false,
									data: trendLine,
								},{
									label: "trendline (polynomial degree 6)",
									backgroundColor: 'rgb(10, 99, 255)',
									borderColor: 'rgb(10, 99, 255)',
									fill: false,
									data: trendLinePoly,
								}]
							},
							options: {
				                title:{
				                    text: "historical difficulty value",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit:'year',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Time'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: 'difficulty    (x10^-9)'
										},
										ticks: {
											callback: function(value, index, values) {
											return value/10e9;
											}
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1 
									} 
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						}

						if (this.difficultyChart)
						{
							this.difficultyChart.update(config);
						}
						else
						{
							this.difficultyChart = new Chart(ctx,config);
						}
					},
					/**
					 * Draw the historical bitcoin value
					 */
					drawBitcoinValueGraph: function()
					{
						var ctx = document.getElementById('bitcoinValueGraph').getContext('2d');
						var dates = [];
						var data = bitcoinValueData;
						
						var trendLine = [];
						var trendLinePoly = [];
						var trendLineExp = [];
						
						for( var i = 0 ; i <= 1636 ; i++)
						{
							dates.push(newDate(i));
							trendLine.push(13.3991 * i -2912.3);
							trendLinePoly.push(4e-6*Math.pow(i,3) - 0.0027*Math.pow(i,2) + 
													5.646*i - 1000);
							trendLineExp.push(0.4061*Math.pow(Math.E,0.0066*i));
						}
						function newDate(days) {
							return moment("20090103", "YYYYMMDD").add(2 * days, 'd').toDate();
						}
						
						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "data",
									backgroundColor: '#f9dfa2',
									borderColor: '#FAB915',
									fill: false,
									data: data,
								},{
									label: "trendline (linear)",
									backgroundColor: 'rgb(23, 156, 12)',
									borderColor: 'rgb(23, 156, 12)',
									fill: false,
									data: trendLine,
								},{
									label: "trendline (polynomial degree 3)",
									backgroundColor: 'rgb(10, 99, 255)',
									borderColor: 'rgb(10, 99, 255)',
									fill: false,
									data: trendLinePoly,
								},{
									label: "trendline (exponential)",
									backgroundColor: 'rgb(232, 60, 60)',
									borderColor: 'rgb(232, 60, 60)',
									fill: false,
									data: trendLineExp,
								}]
							},
							options: {
				                title:{
				                    text: "historical bitcoin value",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit:'year',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Time'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: 'Value (CHF)'
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1
									} 
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						}

						if (this.bitcoinValueChart)
						{
							this.bitcoinValueChart.update(config);
						}
						else
						{
							this.bitcoinValueChart = new Chart(ctx,config);
						}
					}
				},
			});

			// Fetching data, then starting the application
			$.get({
				url: 'https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=CHF',
				success: function(bitcoinCurrentPrices)
				{
					app.bitcoinCHFPrice = bitcoinCurrentPrices.CHF;
					app.drawProfitGraphs();
					app.drawDifficultyGraph();
					app.drawBitcoinValueGraph();

					// Initialize Semantic UI components
				    $('.ui.checkbox').checkbox();
				}
			});
		});
	</script>
</body>

</html>
