<!doctype html>
<html>

<head>
	<title>CryptoCurrency mining analysis</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
</head>

<body>
	<div class="ui active page dimmer">
		<div class="ui loader"></div>
	</div>
	<div id="app" class="ui container">

		<div class="ui hidden divider"></div>

		<div class="ui basic segment">
			<h1 class="ui header">
				Rentabilité du minage de Bitcoin
			</h1>
		</div>

		<div class="ui info message">
			<p>
				La rentabilité du minage est calculée à l'aide d'une formule mathématique, dont les paramètres sont :
			</p>
			<ul class="ui list">
				<li class="item">le prix du Bitcoin</li>
				<li class="item">le Hashrate, ou la vitesse de minage du processeur</li>
				<li class="item">la difficulté de minage, qui fluctue avec le temps</li>
				<li class="item">la consommation électrique du processeur</li>
				<li class="item">le prix de l'électricité</li>
				<li class="item">le prix d'achat du processeur</li>
			</ul>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui basic segment">
			<h3 class="ui header">
				Vos informations
			</h3>
			<form class="ui form">
				<div class="two fields">
					<div class="field">
						<label>Mineur</label>
						<div class="ui selection dropdown" data-model="miner">
							<input type="hidden" value="antminers9">
							<i class="dropdown icon"></i>
							<div class="default text">Mineur ASIC</div>
							<div class="menu">
								<div class="item" data-value="antminers9">AntMiner S9 (14'000 GH/s)</div>
								<div class="item" data-value="antminers7">AntMiner S7 (4'860 GH/s)</div>
								<div class="item" data-value="avalon721">Avalon 721 (6'000 GH/s)</div>
								<div class="item" data-value="avalon6">Avalon 6 (3'500 GH/s)</div>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Hashrate ( GH / s )</label>
						<input type=number v-model="hashRate">
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>Prix du mineur ( CHF )</label>
						<input type=number v-model="hardwareCost">
					</div>
					<div class="field">
						<label>Consommation du mineur (Watts)</label>
						<input type=number v-model="powerConsumption">
					</div>
				</div>
				<div class="three fields">
					<div class="field">
						<label>Prix du Bitcoin (CHF)</label>
						<input type=number v-model="bitcoinCHFPrice">
					</div>
					<div class="field">
						<label>Difficulté de minage</label>
						<input type=number v-model="difficulty">
					</div>
					<div class="field">
						<label>Prix de l'électricité ( CHF / kWh ) </label>
						<input type=number v-model="electricityRate">
					</div>
				</div>
			</form>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui basic center aligned segment">
			<p>
				Avec les valeurs actuelles du marché, la rentabilité est de :
			</p>
			<div class="ui statistic" :class="{ green: dailyProfit > 0, red: dailyProfit < 0 }">
				<div class="value">
					{{ dailyProfit.toFixed(2) }} CHF
				</div>
				<div class="label">
					Profit quotidien
				</div>
			</div>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui info message">
			<p>
				Les paramètres liés au bitcoin (hashrate, difficulté, valeur) sont en changement constant. Il est donc important pour calculer une rentabilité de prévoir les changements de ces valeurs. Pour ce faire, nous nous sommes basés sur les historiques pour calculer des courbes de tendances. Pour des raisons de temps, nous nous sommes concentrés sur deux paramètres, la valeur du bitcoin et la difficulté.
			</p>
			<p>
				La difficulté d'écriture des transactions est un paramètre important pour calculer la rentabilité du minage. En effet, cette difficulté est en hausse depuis le lancement du Bitcoin. Pour notre travail, nous avons calculé deux courbes de tendance, exponentielle et polynomiale, sur l'historique de la difficulté et nous l'avons utilisée pour estimer l'évolution future de la difficulté
			</p>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui basic segment">
			<canvas id="difficultyGraph"></canvas>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui info message">
			Un autre paramètre important est la valeur du Bitcoin sur le marché. Celle-ci connaît une hausse importante depuis 2017, mais il paraît peu probable que la valeur continue d'augmenter aussi sèchement. Pour notre travail, nous avons calculé trois courbes de tendances, linéaire, polynomiale et exponentielle. 
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui basic segment">
			<canvas id="bitcoinValueGraph"></canvas>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui info message">
			Les deux graphiques suivant montrent la rentabilité en Bitcoin et en francs suisse sur un an, en prenant en compte les courbes de tendances calculées précedemment.
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui basic segment">
			<form class="ui form">
				<div class="inline fields">
					<label>Monnaie de l'axe du profit :</label>
					<div class="field">
						<div class="ui radio checkbox">
					        <input type="radio" value="chf" v-model="currency">
					        <label>Francs suisses</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
					        <input type="radio" value="bitcoin" v-model="currency">
					        <label>Bitcoin</label>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui basic segment">
			<canvas id="profitGraph"></canvas>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui basic segment">
			<canvas id="profitGraphPower"></canvas>
		</div>

		<div class="ui hidden divider"></div>

		<div class="ui info message">
			Nos résultats sont peu encourageants. En effet, l'augmentation rapide de la difficulté fait qu'il est peu probable que le minage soit rentable. Notez cependant que ces graphiques reposent sur des estimations.
		</div>

		<div class="ui hidden divider"></div>		
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="data.js"></script>
	<script>
		$('document').ready(function()
		{
		    // Vue.js
			var app = new Vue({
				el: '#app',

				data: {
					miner: 'antminers9', // GH/s
					hashRate: 14000, // GH/s
					difficulty: 1590896927258,
					bitcoinCHFPrice: 0, // CHF
					powerConsumption: 1375, // Watts
					electricityRate: 0.12, // CHF
					currency: 'chf', // 'bitcoin' of 'chf'
					hardwareCost: 2400, // CHF
					dailyProfit: 0, //CHF,
					bitcoinValueChart: null,
					difficultyChart: null,
					profitChartPower: null,
					profitChart: null
				},

				watch: {
					miner: function (val, oldVal)
					{
						switch (val)
						{
							case 'antminers9':
								this.hashRate = 14000;
								this.powerConsumption = 1375
								this.hardwareCost = 2500
							break;

							case 'antminers7':
								this.hashRate = 4860;
								this.powerConsumption = 1210
								this.hardwareCost = 2000
							break;

							case 'avalon721':
								this.hashRate = 6000;
								this.powerConsumption = 900
								this.hardwareCost = 900
							break;

							case 'avalon6':
								this.hashRate = 3500;
								this.powerConsumption = 1300
								this.hardwareCost = 500
							break;
						}
					},
					hashRate: function (val, oldVal)
					{
						this.drawProfitGraphs();
					},
					difficulty: function (val, oldVal)
					{
						this.drawProfitGraphs();
					},
					bitcoinCHFPrice: function (val, oldVal)
					{
						this.drawProfitGraphs();
					},
					powerConsumption: function (val, oldVal)
					{
						this.drawProfitGraphs();
					},
					electricityRate: function (val, oldVal)
					{
						this.drawProfitGraphs();
					},
					currency: function (val, oldVal)
					{
						this.drawProfitGraphs();
					},
					hardwareCost: function (val, oldVal)
					{
						this.drawProfitGraphs();
					}
				},

				mounted: function ()
				{	
					// Initialize Semantic UI components
				    $('.ui.checkbox').checkbox();
				    $('.ui.dropdown').dropdown({
				    	onChange: function(value, text, $choice)
				    	{
				    		model = $(this).data('model');
				    		
				    		app[model] = value;
				    	}
				    });
				},

				methods: {

					/**
					 * Draw all the graphs
					 */
					drawProfitGraphs: function()
					{
						this.drawProfitGraphExp();
						this.drawProfitGraphPower();
					},

					/**
					 * Draw the profit graph with an exponencial factor
					 */
					drawProfitGraphExp: function ()
					{
						var reward = 12.5;
						var BTCPerDay = 24 / (this.difficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
						
						var electricityCHFCostPerDay = this.powerConsumption * this.electricityRate * 24 / 1000;
						this.dailyProfit = BTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
						var dailyBTCProfit = BTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice;
							
						var ctx = document.getElementById('profitGraph').getContext('2d');
						var dates = []
						var data = [];
						var dataLinear = [];
						var dataPoly = [];
						var dataExp = [];
						
						var yLabel = 'Net worth (Bitcoin)';
						var labelling = false;
						
						var daysSinceBeginning = moment().diff('2009-01-03', 'days')/2;
						var estimatedDifficulty;
						var estimatedBTCPerDay;
						var estimatedDailyProfit;
						var estimatedDailyBTCProfit;
						var estimatedDailyProfitExp;
						
						for ( var i = 0 ; i <= 365 ; i++)
						{
							dates.push(newDate(i));
							
							estimatedDifficulty = Math.pow(3.2622*Math.E,0.00789*(daysSinceBeginning+i/2));
							estimatedBTCPerDay  = 24 / (estimatedDifficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
							
							estimatedDailyProfit = estimatedBTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
							estimatedDailyProfitLinear = estimatedBTCPerDay * (13.3991 * (daysSinceBeginning+i/2) -2912.3) - electricityCHFCostPerDay;
							estimatedDailyProfitPoly = estimatedBTCPerDay * (4e-6*Math.pow(daysSinceBeginning+i/2,3) - 0.0027*Math.pow(daysSinceBeginning+i/2,2) + 
													5.646*daysSinceBeginning+i/2 - 1000) - electricityCHFCostPerDay;
							estimatedDailyProfitExp = estimatedBTCPerDay * (0.4061*Math.pow(Math.E,0.0066*(daysSinceBeginning+i/2))) - electricityCHFCostPerDay;
							
							estimatedDailyBTCProfit = estimatedBTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice
							
							switch (this.currency)
							{
								case 'bitcoin':
									data.push(i * estimatedDailyBTCProfit - this.hardwareCost / this.bitcoinCHFPrice);
									yLabel = 'Profit quotidien (Bitcoin)';
									labelling = false;
								break;

								case 'chf':
									data.push(i * estimatedDailyProfit - this.hardwareCost);
									dataLinear.push(i * estimatedDailyProfitLinear - this.hardwareCost);
									dataPoly.push(i * estimatedDailyProfitPoly - this.hardwareCost);
									dataExp.push(i * estimatedDailyProfitExp - this.hardwareCost);
									yLabel = 'Profit quotidien (CHF)';
									labelling = true;
								break;
							}
						}

						function newDate(days) {
							return moment().add(days, 'd').toDate();
						}

						function newDateString(days) {
							return moment().add(days, 'd').format('LL');
						}

						function newTimestamp(days) {
							return moment().add(days, 'd').unix();
						}

						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "Prix BTC constant",
									backgroundColor: 'rgb(230, 159, 0)',
									borderColor: 'rgb(230, 159, 0)',
									fill: false,
									data: data,
								},{
									label: "Prix BTC  linéaire",
									backgroundColor: 'rgb(86, 180, 233)',
									borderColor: 'rgb(86, 180, 233)',
									fill: false,
									data: dataLinear,
								},{
									label: "Prix BTC polynomial",
									backgroundColor: 'rgb(213, 94, 0)',
									borderColor: 'rgb(213, 94, 0)',
									fill: false,
									data: dataPoly,
								},{
									label: "Prix BTC exponentiel",
									backgroundColor: 'rgb(0, 114, 178)',
									borderColor: 'rgb(0, 114, 178)',
									fill: false,
									data: dataExp,
								}]
							},
							options: {
				                title:{
				                    text: "Analyse du minage de Bitcoin ; prédiction exponentielle de la difficulté",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit: 'month',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Date'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: yLabel
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1 
									} 
								},
								legend: {
									display: labelling
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						};

						if (this.profitChart)
						{
							this.profitChart.destroy();
						}

						this.profitChart = new Chart(ctx,config);
					},

					/**
					 * Draw the profit graph with an power factor
					 */
					drawProfitGraphPower: function ()
					{
						var reward = 12.5;
						var BTCPerDay = 24 / (this.difficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
						
						var electricityCHFCostPerDay = this.powerConsumption * this.electricityRate * 24 / 1000;
						this.dailyProfit = BTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
						var dailyBTCProfit = BTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice;
							
						var ctx = document.getElementById('profitGraphPower').getContext('2d');
						var dates = []
						var data = [];
						var dataLinear = [];
						var dataPoly = [];
						var dataExp = [];
						
						var daysSinceBeginning = moment().diff('2009-01-03', 'days')/2;
						
						var yLabel = 'Profit (Bitcoin)';
						var labelling = false;
						
						var estimatedDifficulty;
						var estimatedBTCPerDay;
						var estimatedDailyProfit;
						var estimatedDailyBTCProfit;
						
						for ( var i = 0 ; i <= 365 ; i++)
						{
							dates.push(newDate(i));
							
							
							estimatedDifficulty = 0.0032*Math.pow(daysSinceBeginning+i/2,5) - 10.947*Math.pow(daysSinceBeginning+i/2,4) +
													13661*Math.pow(daysSinceBeginning+i/2,3) - 7e+6*Math.pow(daysSinceBeginning+i/2,2) + 
													1e+9*(daysSinceBeginning+i/2) - 6e+10; 
							estimatedBTCPerDay  = 24 / (estimatedDifficulty * Math.pow(2, 32) / (this.hashRate * Math.pow(10, 9)) / 60 / 60) * reward;
							
							estimatedDailyProfit = estimatedBTCPerDay * this.bitcoinCHFPrice - electricityCHFCostPerDay;
							estimatedDailyProfitLinear = estimatedBTCPerDay * (13.3991 * (daysSinceBeginning+i/2) -2912.3) - electricityCHFCostPerDay;
							estimatedDailyProfitPoly = estimatedBTCPerDay * (4e-6*Math.pow(daysSinceBeginning+i/2,3) - 0.0027*Math.pow(daysSinceBeginning+i/2,2) + 
													5.646*daysSinceBeginning+i/2 - 1000) - electricityCHFCostPerDay;
							estimatedDailyProfitExp = estimatedBTCPerDay * (0.4061*Math.pow(Math.E,0.0066*(daysSinceBeginning+i/2))) - electricityCHFCostPerDay;
													
							estimatedDailyBTCProfit = estimatedBTCPerDay - electricityCHFCostPerDay / this.bitcoinCHFPrice
							
							switch (this.currency)
							{
								case 'bitcoin':
									data.push(i * estimatedDailyBTCProfit - this.hardwareCost / this.bitcoinCHFPrice);
									yLabel = 'Profit quotidien (Bitcoin)';
									labelling = false;
								break;

								case 'chf':
									data.push(i * estimatedDailyProfit - this.hardwareCost);
									dataLinear.push(i * estimatedDailyProfitLinear - this.hardwareCost);
									dataPoly.push(i * estimatedDailyProfitPoly - this.hardwareCost);
									dataExp.push(i * estimatedDailyProfitExp - this.hardwareCost);
									yLabel = 'Profit quotidien (CHF)';
									labelling = true;
								break;
							}
						}

						function newDate(days) {
							return moment().add(days, 'd').toDate();
						}

						function newDateString(days) {
							return moment().add(days, 'd').format('LL');
						}

						function newTimestamp(days) {
							return moment().add(days, 'd').unix();
						}

						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "constant bitcoin price",
									backgroundColor: 'rgb(230, 159, 0)',
									borderColor: 'rgb(230, 159, 0)',
									fill: false,
									data: data,
								},{
									label: "linear bitcoin price",
									backgroundColor: 'rgb(86, 180, 233)',
									borderColor: 'rgb(86, 180, 233)',
									fill: false,
									data: dataLinear,
								},{
									label: "polynomial bitcoin price",
									backgroundColor: 'rgb(213, 94, 0)',
									borderColor: 'rgb(213, 94, 0)',
									fill: false,
									data: dataPoly,
								},{
									label: "exponential bitcoin price",
									backgroundColor: 'rgb(0, 114, 178)',
									borderColor: 'rgb(0, 114, 178)',
									fill: false,
									data: dataExp,
								}]
							},
							options: {
				                title:{
				                    text: "Analyse du minage de Bitcoin ; prédiction polynomiale de la difficulté",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit: 'month',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Date'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: yLabel
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1 
									} 
								},
								legend: {
									display: labelling
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						};

						if (this.profitChartPower)
						{
							this.profitChartPower.destroy();
						}

						this.profitChartPower = new Chart(ctx,config);
					},

					/**
					 * Draw the historical difficulty
					 */
					drawDifficultyGraph: function()
					{
						var ctx = document.getElementById('difficultyGraph').getContext('2d');
						var dates = [];
						var data = difficultyData;
						
						var trendLine = [];
						var trendLinePoly = [];
						
						for( var i = 0 ; i <= 1636 ; i++)
						{
							dates.push(newDate(i));
							trendLine.push(Math.pow(3.2622*Math.E,0.00789*i));
							trendLinePoly.push(0.0032*Math.pow(i,5) - 10.947*Math.pow(i,4) +
													13661*Math.pow(i,3) - 7e+6*Math.pow(i,2) + 
													1e+9*i - 6e+10)
						}
						function newDate(days) {
							return moment("20090103", "YYYYMMDD").add(2 * days, 'd').toDate();
						}
						
						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "Réel",
									backgroundColor: 'rgb(230, 159, 0)',
									borderColor: 'rgb(230, 159, 0)',
									fill: false,
									data: data,
								},{
									label: "Tendance exponencielle",
									backgroundColor: 'rgb(0, 114, 178)',
									borderColor: 'rgb(0, 114, 178)',
									fill: false,
									data: trendLine,
								},{
									label: "Tendance polynomiale degré 6",
									backgroundColor: 'rgb(213, 94, 0)',
									borderColor: 'rgb(213, 94, 0)',
									fill: false,
									data: trendLinePoly,
								}]
							},
							options: {
				                title:{
				                    text: "Historique de la difficulté de minage du Bitcoin",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit:'year',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Time'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: 'difficulté ( milliards )'
										},
										ticks: {
											callback: function(value, index, values) {
											return value/10e9;
											}
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1 
									} 
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						}

						if (this.difficultyChart)
						{
							this.difficultyChart.destroy();
						}

						this.difficultyChart = new Chart(ctx,config);
					},
					/**
					 * Draw the historical bitcoin value
					 */
					drawBitcoinValueGraph: function()
					{
						var ctx = document.getElementById('bitcoinValueGraph').getContext('2d');
						var dates = [];
						var data = bitcoinValueData;
						
						var trendLine = [];
						var trendLinePoly = [];
						var trendLineExp = [];
						
						for( var i = 0 ; i <= 1636 ; i++)
						{
							dates.push(newDate(i));
							trendLine.push(13.3991 * i -2912.3);
							trendLinePoly.push(4e-6*Math.pow(i,3) - 0.0027*Math.pow(i,2) + 
													5.646*i - 1000);
							trendLineExp.push(0.4061*Math.pow(Math.E,0.0066*i));
						}
						function newDate(days) {
							return moment("20090103", "YYYYMMDD").add(2 * days, 'd').toDate();
						}
						
						var config = {
							type: 'line',
							data: {
								labels: dates,
								datasets: [{
									label: "Réel",
									backgroundColor: 'rgb(230, 159, 0)',
									borderColor: 'rgb(230, 159, 0)',
									fill: false,
									data: data,
								},{
									label: "Tendance linéaire",
									backgroundColor: 'rgb(86, 180, 233)',
									borderColor: 'rgb(86, 180, 233)',
									fill: false,
									data: trendLine,
								},{
									label: "Tendance polynomiale degré 3",
									backgroundColor: 'rgb(213, 94, 0)',
									borderColor: 'rgb(213, 94, 0)',
									fill: false,
									data: trendLinePoly,
								},{
									label: "Tendance exponencielle",
									backgroundColor: 'rgb(0, 114, 178)',
									borderColor: 'rgb(0, 114, 178)',
									fill: false,
									data: trendLineExp,
								}]
							},
							options: {
				                title:{
				                    text: "Historique de la valeure du Bitcoin (CHF)",
									display: true
				                },
								scales: {
									xAxes: [{
										type: "time",
										time: {
											unit:'year',
											tooltipFormat: 'D MMM YYYY'
										},
										scaleLabel: {
											display: false,
											labelString: 'Time'
										}
									}, ],
									yAxes: [{
										scaleLabel: {
											display: true,
											labelString: 'Valeur (CHF)'
										}
									}]
								},
								elements: { 
									point: { 
										radius: 1
									} 
								},
						        tooltips: {
						            mode: 'index',
						            intersect: false
						        }
							}
						}

						if (this.bitcoinValueChart)
						{
							this.bitcoinValueChart.destroy();
						}

						this.bitcoinValueChart = new Chart(ctx,config);
					}
				},
			});

			// Fetching data, then starting the application
			$.get({
				url: 'https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=CHF',
				success: function(bitcoinCurrentPrices)
				{
					app.bitcoinCHFPrice = bitcoinCurrentPrices.CHF;
					app.drawProfitGraphs();
					app.drawDifficultyGraph();
					app.drawBitcoinValueGraph();

					$('.ui.dimmer').removeClass('active');
				}
			});
		});
	</script>
</body>

</html>
